#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

build: build-stamp

build-stamp:
	dh_testdir
	cd doc && $(MAKE) && cd ..
	touch $@

clean:
	dh_testdir
	dh_testroot
	cd doc && $(MAKE) clean && cd ..
	rm -f build-stamp
	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_installdirs usr/share/kantan/scripts/ usr/sbin

	cp -a example_profile      debian/kantan/usr/share/kantan/
	cp -a scripts              debian/kantan/usr/share/kantan/
	install -m 755 sbin/kantan debian/kantan/usr/sbin/

binary-arch: install

binary-indep: install
	dh_testdir
	dh_testroot
	dh_installchangelogs
	dh_installdocs
	dh_installman doc/kantan.8
	dh_compress
	mkdir -p $(CURDIR)/debian/kantan/usr/share/lintian/overrides/
	cp -av debian/overrides $(CURDIR)/debian/kantan/usr/share/lintian/overrides/kantan
	dh_fixperms
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: binary-indep binary-arch binary install clean build
